<dl class="stats-grid" [attr.aria-label]="'candeonato.sports.statsLabel' | translate">
  <div>
    <dt>{{ 'candeonato.sports.rounds' | translate }}</dt>
    <dd class="stat-value">{{ stats().roundCount }}</dd>
    <dd class="stat-description">{{ 'candeonato.sports.sessions' | translate }}</dd>
  </div>
  <div>
    <dt>{{ 'candeonato.sports.circuits' | translate }}</dt>
    <dd class="stat-value">{{ stats().circuitCount }}</dd>
    <dd class="stat-description">{{ 'candeonato.sports.trackCombinations' | translate }}</dd>
  </div>
  <div>
    <dt>{{ 'candeonato.sports.drivers' | translate }}</dt>
    <dd class="stat-value">{{ stats().driverCount }}</dd>
    <dd class="stat-description">{{ 'candeonato.sports.driversDescription' | translate }}</dd>
  </div>
  <div>
    <dt>{{ 'candeonato.sports.laps' | translate }}</dt>
    <dd class="stat-value">{{ stats().totalLaps }}</dd>
    <dd class="stat-description">{{ 'candeonato.sports.lapsDescription' | translate }}</dd>
  </div>
  <div>
    <dt>{{ 'candeonato.sports.incidents' | translate }}</dt>
    <dd class="stat-value">{{ stats().totalIncidents }}</dd>
    <dd class="stat-description">{{ 'candeonato.sports.incidentsDescription' | translate }}</dd>
  </div>
</dl>
