<section class="relative text-(--texto) grid mx-18 lg:grid-cols-[1.2fr_1fr] ">
    <div>
        <!-- <div class="absolute top-3 left-32">_____________________</div>
        <div class="absolute top-2 left-32">__________________</div> -->
        <h2 class=" text-3xl italic z-2 font-bold">REGLAS</h2>
        <p class=" mt-4">El evento no es para competir de forma directa, sino de forma limpia. Estan prohibidos los enfados, por lo que una acción similar puede llevar sancioón de participación en proximos candeonatos</p>
    </div>
    <div class="mt-12 text-center">
        imagen de coche rotando
    </div>
</section>