<section class="relative text-(--texto) grid mx-18 lg:grid-cols-[1.2fr_1fr] ">
    <div>
        <!-- <div class="absolute top-3 left-32">_____________________</div>
        <div class="absolute top-2 left-32">__________________</div> -->
        <h2 class=" text-3xl italic z-2 font-bold"> REQUISITOS</h2>
        <p class=" mt-4">Ganas de correr con gente sin meterse en lios, disfrutar de la carrera y no impactarse hasta final de carrera que IMPACTAREMOS TODOOS.</p>
        <p class=" mt-4">Necesitaras tener el juego, dentro de el tendrás el coche y los circuitos que usaremos de forma totalmente gratuita.</p>
    </div>
    <div class="mt-12 text-center">
        imagen de coche rotando
    </div>
</section>